* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.my-container {
  height: 100vh;
  padding: 5rem;
  display: flex;
}

.form,
.display {
  width: 50%;
  border: 1px solid;
}

.display {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-button {
  position: absolute;
  top: 0;
  right: 0;
}

.all-input {
  border: 1px solid;
  width: 80%;
  height: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.all-input input {
  width: 100%;
  height: 3rem;
  margin-bottom: 1.2rem;
}

.light {
  color: black;
  background-color: white;
}

.dark {
  color: white;
  background-color: black;
}
