/* presets */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
}

.title-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 100%;
  height: 3.5%;
  color: white;
  background-color: #38ada9;
}

.menu-bar {
  display: flex;
  width: 100%;
  height: 4%;
  border: 1px solid;
}

.menu-bar p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  width: 8%;
}

.menu-bar p:hover,
.menu-bar-option-selected {
  background-color: #079992;
  color: white;
}

.menu-options {
  display: flex;
  height: 6%;
  width: 100%;
}

.formula-bar {
  height: 4%;
  width: 100%;
  background-color: yellow;
}

.formula-bar input {
  border: 1px solid #079992;
  height: 100%;
  outline: none;
}

#select-cell {
  width: 20%;
}

#complete-formula {
  width: 80%;
}

.grid {
  width: 100%;
  height: 78.5%;
  background-color: yellow;
}

.sheets-bar {
  height: 4%;
  width: 100%;
  border: 1px solid;
}

.sheets-bar div {
  border: 1px solid;
  height: 100%;
  width: 20%;
  display: flex;
  color: #079992;
  justify-content: center;
  align-items: center;
}

.menu-options div {
  border: 1px solid;
  height: 100%;
}

.bui,
.colors,
.alignment {
  width: 20%;
}

.font-styles {
  width: 40%;
}

.menu-options div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
