/* presets */

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
}

.title-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 100%;
  height: 3.5%;
  color: white;
  background-color: #38ada9;
}

.menu-bar {
  display: flex;
  width: 100%;
  height: 4%;
  background-color: #218c74;
}

.menu-bar p {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  width: 8%;
}

.menu-bar p:hover,
.menu-bar-option-selected {
  background-color: white;
  color: black !important;
}

.menu-options {
  display: flex;
  height: 6%;
  width: 100%;
}

.formula-bar {
  height: 4%;
  width: 100%;
}

.formula-bar input {
  border: 1px solid #079992;
  height: 100%;
  outline: none;
}

#select-cell {
  width: 20%;
}

#complete-formula {
  width: 80%;
}

.grid {
  overflow: auto;
  position: relative;
  width: 100%;
  height: 78.5%;
  padding-left: 30px;
  padding-top: 30px;
}

.sheets-bar {
  height: 4%;
  width: 100%;
  border: 1px solid;
}

.sheets-bar div {
  border: 1px solid;
  height: 100%;
  width: 20%;
  display: flex;
  color: #079992;
  justify-content: center;
  align-items: center;
}

.menu-options div {
  height: 100%;
}

.bui,
.colors,
.alignment {
  width: 20%;
}

.font-styles {
  width: 40%;
}

.menu-options div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.blank-corner {
  height: 30px;
  width: 30px;
  background-color: rgb(41, 39, 39);
  position: fixed;
  top: 17.5vh;
  left: 0;
  z-index: 5;
}

.column-tags {
  position: fixed;
  display: flex;
  top: 17.5vh;
  left: 30px;
  z-index: 3;
}

.column-tag-cell {
  padding-top: 4px;
  background-color: #38ada9;
  height: 30px;
  width: 80px;
  border: 1px solid white;
  color: white;
  text-align: center;
  /* flex-shrink: 0; */
}

.row-number-cell {
  height: 30px;
  width: 30px;
  border: 1px solid white;
  color: white;
  text-align: center;
  background-color: #38ada9;
  padding-top: 5px;
}

.row-numbers {
  position: fixed;
  left: 0;
  top: calc(17.5vh + 30px);
  z-index: 3;
}

.row {
  display: flex;
}

.cell {
  width: 80px;
  height: 30px;
  background-color: white;
  border: 1px solid #079992;
  flex-shrink: 0;
  outline: none;
}

.grid-selected-cell {
  border: 3px solid #34ace0;
}

.menu-bar > p {
  position: relative;
}

.menu-bar > p > span {
  position: absolute;
  height: 8rem;
  width: 5rem;
  background: white;
  top: 4vh;
  left: 0;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-bar > p > span > span {
  display: block;
  text-align: center;
  color: black;
}

/* .column-tags-atke {
  top: 17.5vh !important;
  left: 30px !important;
  position: fixed !important;
  z-index: 3 !important;
}

.row-numbers-atke {
  position: fixed !important;
  z-index: 3 !important;
  top: calc(17.5vh + 30px) !important;
} */
