* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

#record,
#capture {
  z-index: 3;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  outline: none;
  border: none;
  position: fixed;
  border: 5px solid white;
  background: black;
}

#record {
  top: 30vh;
  right: 20px;
}

#record div {
  height: 60%;
  width: 68%;
  margin: auto;
  border-radius: 50%;
  background: red;
}

#capture div {
  height: 60%;
  width: 68%;
  margin: auto;
  border-radius: 50%;
  background: white;
}

#capture {
  top: 40vh;
  right: 20px;
}

#video-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

video {
  height: 100%;
  width: 100%;
}

.record-animation {
  animation: zoom-in-out 0.8s infinite;
}
.capture-animation {
  animation: zoom-in-out 1s;
}

@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.filter-container {
  width: 6rem;
  height: 60vh;
  border: 1px solid white;
  position: fixed;
  top: 20vh;
  left: 20px;
  z-index: 3;
}

.filter {
  width: 100%;
  height: calc(100% / 6);
  border: 1px solid white;
  background-image: url(https://static.scientificamerican.com/sciam/cache/file/4E0744CD-793A-4EF8-B550B54F7F2C4406_source.jpg);
  background-size: cover;
}

.filter-div {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 0;
}

.zoom-container {
  height: 20vh;
  width: 6rem;
  position: fixed;
  top: 5vh;
  right: 20px;
  z-index: 3;
}

.zoom-container div {
  height: 50%;
  width: 100%;
  color: white;
  font-size: 5rem;
  text-align: center;
  background: #57606f;
  font-weight: bold;
}
